@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------- */
/* -------GENERAL------- */
/* --------------------- */

*, button{
    cursor: url("../assets/icons/cursor-light.png") 17 17, auto;
}

.dark *, .dark button{
    cursor: url("../assets/icons/cursor-dark.png") 17 17, auto;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    user-select: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
    padding: 0;
}


main {
    scroll-snap-type: y mandatory;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-size: 2.875rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

.mw-auto {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

/*Color Theme Transition*/ 

.transition-hover-light, .transition-hover-dark, .transition-hover-svg-light, .transition-hover-svg-dark {
    transition: color 0.3s ease-out, stroke 0.3s ease-out, fill 0.3s ease-out;
}

.transition-hover-light:hover {
    color: #E3170A;
}

.transition-hover-dark:hover {
    color: #CFD11A;
}

.transition-hover-svg-light:hover {
    stroke: #E3170A;
    fill: #E3170A
}

.transition-hover-svg-dark:hover {
    stroke: #CFD11A;
    fill: #CFD11A
}

.opa-0 {
    transition: opacity 0.3s ease-out;
    opacity: 0%;
}

.opa-100 {
    transition: opacity 0.3s ease-out;
    opacity: 100%;
}

/* --------------------- */
/* -------SECTION------- */
/* --------------------- */

/* Landing */ 

.container-landing {
    align-items: space-around;
    overflow: hidden;
}

.container-title {
    width: 450px;
}

.custom-border-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.custom-border-box::before,
.custom-border-box::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
}

/* Technologies */

#technologies {
    scroll-snap-align: start;
}

.technologies {
    position: fixed;
    top: 80px;
    max-height: 100vh;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.technologies::-webkit-scrollbar {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fade-in 0.3s ease-in;
    animation-fill-mode: forwards;
}

#title-front-end {
    animation-delay: 1.1s;
}

#vector-front-end {
    animation-delay: 1.2s;
}

#vector-back-end {
    animation-delay: 2.8s;
}

#title-back-end {
    animation-delay: 3s;
}

@keyframes grow-in {
    0% {
        transform: scale(1);
        filter: grayscale(100%);
    }
    50% {
        transform: scale(1.1);
        filter: grayscale(0);
    }
    100% {
        transform: scale(1);
        filter: grayscale(100%);
    }
}

.grow-in .logo-techno {
    transform: scale(1.1);
    filter: grayscale(0);
}

.logo-techno  {
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
    filter: grayscale(100%);
    animation: grow-in 1s ease-in;
}

.odd {
    transform: translateY(50%);
}

.even p {
    transform: translate(100%, -480%);
}

.odd p {
    text-align: right;
    transform : translate(-100%, -100%)
}

.line-even {
    transform: translate(850%, -8600%) rotate(-40deg);
}

.line-odd {
    transform: translate(40%, -2500%) rotate(-40deg);
}

@media (prefers-color-scheme: dark) {
    :root {
      --border-color: theme('colors.lines-dark');
    }
  }
  
  :root {
    --border-color: theme('colors.lines-light');
  }

.custom-border-box::before {
    top: 0;
    left: 0;
    border-width: 1px 0 0 1px; 
}

.custom-border-box::after {
    bottom: 0;
    right: 0;
    border-width: 0 1px 1px 0; 
}

.container-photo-landing {
    max-width: 550px;
    max-height: 100%;
    height: fit-content;
}

.photo-landing {
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
}

.custom-border-box:hover .photo-landing {
    filter: grayscale(0%);
}

#tsparticles {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

/* Transition 1 */

.transition1-unscrolled {
    transition: width 1300ms ease-in-out;
    width: 10vw;
    aspect-ratio: 1 / 1
}

.transition1-scrolled {
    transition: width 1300ms ease-in-out;
    width: 150%;
    aspect-ratio: 1 / 1;
}

.mask-delayed {
    transition-delay: 100ms;
}

/* Transition 2 */

.transition2-unscrolled {
    transition: transform 800ms ease-in-out; 
    aspect-ratio: 1 / 1;
    transform: translateX(100%);
}

.transition2-scrolled {
    transition: transform 800ms ease-in-out;
    aspect-ratio: 1 / 1;
    transform: translateX(0);
}
.mask-delayed-2 {
    transition-delay: 50ms;
}

/* Projects */ 

#section-projects {
    display: flex;
    overflow-x: auto; 
    height: 100%;
    width: 100%;
}

.all-projects {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#track {
    scroll-snap-type: x mandatory; 
}

.single-project {
    min-width: calc(100vw );
    scroll-snap-align: start;
}

/* --------------------- */
/* -----COMPONENTS------ */
/* --------------------- */

/* Header */ 

.shadow-head-100 {
    transition: box-shadow 0.5s ease-out;
    -webkit-box-shadow: 0px 2px 50px 2px rgba(0, 0, 0, 0.1); 
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);
}

.shadow-head-0 {
    transition: filter 0.3s ease-out;
    filter: drop-shadow(0px 0px 0px #000000);
}

/* Tablet Menu */ 

.menu-tablet-on {
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}

.menu-tablet-off {
    transform: rotate(-90deg);
    transition: transform 0.5s ease-in-out;
}

.menu-tablet-open {
    position: fixed;
    z-index: -1;
    top: 5rem;
    right: 0;
    height: 100px;
    width: 130px;
    background-color: #f5f5f5;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.menu-tablet-close {
    position: fixed;
    z-index: -1;
    top: 5rem;
    right: 0;
    height: 100px;
    width: 130px;
    background-color: #f5f5f5;
    transform: translateY(-100px);
    transition: transform 0.3s ease-in-out;
}

/* Menu Mobile */

.burg-top, .burg-mid, .burg-down {
    width: 100%; 
    height: 3px;
    border-radius: 5px;
}

.burger-on {
    transform: rotate(45deg) translateY(9px) translateX(5px);
    transform-origin: center center;
    transition: transform 0.3s ease-out;
}

.burger-on + .burg-mid  {
    opacity: 0%;
    transition: opacity 0.1s ease;
}

.burger-on + .burg-down  {
    transform: rotate(-45deg) translateY(-9px) translateX(5px);
    transform-origin:center center;
    transition: transform 0.3s ease-out;
}

.burger-off {
    transform: rotate(0deg) translateX(0px);
    transition: transform 0.3s ease-out;
}

.burger-off + .burg-mid {
    opacity: 1;
    transition: opacity 0.1s ease;
}

.burger-off + .burg-down {
    transform: rotate(0deg) translateX(0px);
    transition: transform 0.3s ease-out;
}

.menu-mobile-open {
    position: fixed;
    z-index: -1;
    top: 3rem;
    right: 0;
    height: 500px;
    width: 100%;
    background-color: #f5f5f5;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.menu-mobile-close {
    position: fixed;
    z-index: -1;
    top: 3rem;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    transform: translateY(-100vh);
    transition: transform 0.3s ease-in-out;
}

/* IconScroll */ 

@keyframes moveY {
    to {
      transform: translateY(10px);
    }
  }

.arrow-scroll {
    position:absolute;
    animation: moveY 1.5s ease-in-out infinite alternate;
}

/* --------------------- */
/* ----Media-Queries---- */
/* --------------------- */

@media (min-width: 1024px) {
    .container-beehive:hover .logo-techno {
        transform: scale(1.1);
        filter: grayscale(0);
    }

}

@media (max-width: 1024px)  {
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.625rem;
    }
    .transition1-scrolled {
        width: 300%;
    }
}

@media (max-width: 768px) {
    .transition1-scrolled {
        width: 450%;
    }

    /* Technologies */
    .even {
        transform: translateX(-20%);
    }
    
    .odd {
        transform: translate(20%, 0%);
    }

    .even p {
        text-align: center;
        transform: translate(0%);
    }

    .odd p {
        text-align: center;
        transform : translate(0%)
    }

    .logo-techno-dark-unclicked {
        filter: brightness(1000%);
    }
}

