.container-title {
    width: 450px;
}

.custom-border-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.custom-border-box::before,
.custom-border-box::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
}

@media (prefers-color-scheme: dark) {
    :root {
      --border-color: theme('colors.lines-dark');
    }
  }
  
  :root {
    --border-color: theme('colors.lines-light');
  }

.custom-border-box::before {
    top: 0;
    left: 0;
    border-width: 1px 0 0 1px; 
}

.custom-border-box::after {
    bottom: 0;
    right: 0;
    border-width: 0 1px 1px 0; 
}

.container-photo-landing {
    max-width: 550px;
    max-height: 100%;
}

.photo-landing {
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
}

.custom-border-box:hover .photo-landing {
    filter: grayscale(0%);
}

.particles {
    position: absolute;
    left: 0px;
    top: 0px;
   }